Repository eedited/ReactWeb: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

navbar 구성 변경
  src/components/common/navbar/Navbar.tsx
Due: eslint

for sharing portfolio
  package-lock.json
  src/@types/user.d.ts
  src/App.tsx
  src/api/user.ts
  src/containers/common/PortfolioHeader.scss
  src/containers/common/PortfolioHeader.tsx
  src/pages/AccountSettingPage.tsx
  src/pages/BasePortfolioTemplate.tsx
  src/pages/SharedPortfolio.tsx
Due: eslint, prettier --write

clipboard ballon
  src/components/myPage/MyPage.scss
  src/components/myPage/MyPage.tsx
  src/containers/myPage/MyPageContainer.tsx
Due: eslint, prettier --write

구글로그인 기능 추가
  .gitlab-ci.yml
  Dockerfile
  package.json
  src/@types/auth.d.ts
  src/api/auth.ts
  src/components/auth/AuthOverlay.tsx
  src/components/myPage/MyPageGraph.tsx
  src/containers/auth/LoginOverlayContainer.tsx
Due: eslint

radar graph 추가
  package-lock.json
  package.json
  src/components/myPage/MyPage.scss
  src/components/myPage/MyPage.tsx
  src/components/myPage/RadarGraph.tsx
Due: eslint, prettier --write

그래프 slider 구현
  package-lock.json
  src/components/myPage/MyPage.scss
  src/components/myPage/MyPage.tsx
Due: eslint, prettier --write

make mypage
  public/images/Introduction/graph1.png
  public/images/Introduction/graph2.png
  public/images/Introduction/landing.png
  public/images/Introduction/portfolio.png
  src/App.tsx
  src/pages/IntroductionPage.scss
  src/pages/IntroductionPage.tsx
Due: eslint, prettier --write

link video to /video
  src/components/common/navbar/Navbar.tsx
Due: eslint

반응형 적용
  src/pages/IntroductionPage.scss
  src/pages/IntroductionPage.tsx
Due: eslint, prettier --write

history 연결
  src/pages/IntroductionPage.tsx
Due: eslint

routerComponentProps -> routerProps
  src/pages/IntroductionPage.tsx
Due: eslint

imgae path
  src/pages/IntroductionPage.tsx
Due: eslint

포트폴리오 공유 버튼 눌렀을 때 나타나는 url 수정
  src/containers/myPage/MyPageContainer.tsx
Due: eslint

profile page modify, landing page modify
  src/components/myPage/MyPage.scss
  src/index.css
  src/pages/IntroductionPage.scss
Due: prettier --write

make footer
  public/init.css
  src/containers/common/PortfolioFooter.scss
  src/containers/common/PortfolioFooter.tsx
  src/pages/BasePortfolioTemplate.scss
  src/pages/BasePortfolioTemplate.tsx
Due: eslint, prettier --write

라우터 내용 변경
  src/@types/user.d.ts
Due: eslint

마이페이지에 팔로우정보, 좋아요정보 보이게 변경
  src/components/myPage/MyPage.scss
  src/components/myPage/MyPage.tsx
Due: eslint, prettier --write

intorduction page 수정
  package-lock.json
  public/images/Introduction/share.jpeg
  public/images/Introduction/userPortFolio.png
  src/pages/IntroductionPage.scss
  src/pages/IntroductionPage.tsx
Due: eslint, prettier --write

마이페이지 최적화 작업
  src/@types/user.d.ts
  src/components/myPage/MyPage.tsx
  src/containers/myPage/MyPageContainer.tsx
Due: eslint

다른사람이 팔로우한 정보와 좋아요를 누른 정보는 확인할 수 없도록 변경
  src/components/myPage/MyPage.tsx
Due: eslint

download functin 구현. (with cors error)
  package-lock.json
  package.json
  src/components/landing/videoGrid/Video.tsx
  src/components/myPage/MyPage.tsx
  src/components/myPage/MyPageGraph.tsx
  src/containers/myPage/MyPageContainer.tsx
Due: eslint

img modify
  src/components/myPage/MyPage.tsx
  src/containers/myPage/MyPageContainer.tsx
  src/images/download.svg
Due: eslint

safari cors error fix
  src/components/myPage/MyPageGraph.tsx
Due: eslint

convert shared portfolio userName
  src/@types/user.d.ts
  src/components/myPage/MyPage.tsx
  src/containers/myPage/MyPageContainer.tsx
  src/pages/SharedPortfolio.tsx
Due: eslint

convert return addr
  src/@types/video.d.ts
  src/containers/upload/UploadContainer.tsx
  src/containers/upload/VideoChangeContainer.tsx
  src/pages/UploadPage.tsx
  src/redux/video/video.ts
Due: eslint

login error fix
  src/index.tsx
Due: eslint

change navbar, must include env file in docker image
  .dockerignore
  .eslintrc
  Dockerfile2
  package-lock.json
  package.json
  src/components/common/navbar/Navbar.tsx
  src/services/upload/index.ts
Due: eslint

Path conditions:
  eslint: any of: *.{ts,tsx}
  prettier --write: any of: *.{html,css,scss}
