Repository eedited/ReactWeb: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

.
  .eslintrc
  .huskyrc
  package-lock.json
  package.json
  src/App.scss
Due: prettier --write

font directory : src/public/font
  src/App.scss
Due: prettier --write

temporyarity resolve cyclic reference error
  src/components/auth/FindigPw.tsx
  src/containers/auth/FindingPwContainer.tsx
Due: eslint

function parameter error resolve
  src/containers/filter/DropDownContainer.tsx
  src/modules/Video/video.ts
  src/modules/auth/auth.ts
  src/modules/filter/filter.ts
  src/modules/loading/loading.ts
  src/modules/user/user.ts
Due: eslint

npm version : 6.14.12
  package-lock.json
  package.json
Due: none

some depemdencys move dep to devdep
  package-lock.json
  package.json
Due: none

logger and devtool must activate only on development env.
  src/store.ts
Due: eslint

move typescript dep to dev dep
  package-lock.json
  package.json
Due: none

타입 바꾸기 시작
  tsconfig.json
Due: none

auth 타입 변경
  src/@types/auth.d.ts
  src/containers/auth/LoginForm.tsx
  src/containers/auth/SignupForm.tsx
  src/lib/api/auth.ts
  src/modules/auth/auth.ts
  src/modules/auth/authSaga.ts
  src/modules/auth/authType.ts
  src/modules/user/userSaga.ts
  src/modules/user/userType.ts
Due: eslint

비디오 타입 변경
  src/@types/video.d.ts
  src/components/Landing/VideoGrid/Video.tsx
  src/components/Landing/VideoGrid/VideoGrid.tsx
  src/components/Video/LargeVideoHeader.tsx
  src/components/Video/Largevideo.tsx
  src/components/Video/MoreByUser.tsx
  src/components/Video/UserMaybeLike.tsx
  src/containers/Video/LargeVideoContainer.tsx
  src/containers/Video/LargeVideoDescriptionContainer.tsx
  src/containers/Video/MoreByUserContainer.tsx
  src/containers/Video/UserMaybeLike.tsx
  src/containers/Video/VideoHeader.tsx
  src/containers/landing/VideoContainer.tsx
  src/containers/landing/VideoGridContainer.tsx
  src/hooks.ts
  src/lib/api/video.ts
  src/modules/Video/video.ts
  src/modules/Video/videoSaga.ts
  src/modules/Video/videoType.ts
  src/modules/index.ts
Due: eslint

change Directory name module to redux, lib to library
  src/components/common/Navbar/Navbar.tsx
  src/containers/auth/FindingIdContainer.tsx
  src/containers/auth/FindingPwContainer.tsx
  src/containers/auth/LoginForm.tsx
  src/containers/auth/SignupForm.tsx
  src/containers/common/NavbarContainer.tsx
  src/hooks.ts
  src/index.tsx
  src/library/README.md
  src/library/api/auth.ts
  src/library/api/client.ts
  src/library/api/video.ts
  src/library/createRequestSaga.ts
  src/library/hooks/useInputs.ts
  src/redux/README.md
  src/redux/Video/video.ts
  src/redux/Video/videoSaga.ts
  src/redux/auth/auth.ts
  src/redux/auth/authSaga.ts
  src/redux/filter/filter.ts
  src/redux/filter/filterType.ts
  src/redux/index.ts
  src/redux/loading/loading.ts
  src/redux/loading/loadingType.ts
  src/redux/user/user.ts
  src/redux/user/userSaga.ts
  src/redux/user/userType.ts
  src/store.ts
Due: eslint

add user type
  src/@types/auth.d.ts
  src/@types/user.d.ts
  src/components/auth/AuthForm.tsx
  src/components/common/Navbar/Navbar.tsx
  src/containers/auth/LoginForm.tsx
  src/containers/auth/SignupForm.tsx
  src/containers/common/NavbarContainer.tsx
  src/redux/user/user.ts
  src/redux/user/userSaga.ts
  src/redux/user/userType.ts
Due: eslint

add videoupload type
  src/@types/video.d.ts
  src/containers/Video/LargeVideoContainer.tsx
  src/containers/Video/MoreByUserContainer.tsx
  src/containers/landing/VideoGridContainer.tsx
Due: eslint

add filter, loading type
  src/@types/filter.d.ts
  src/redux/filter/filter.ts
  src/redux/filter/filterType.ts
  src/redux/loading/loading.ts
  src/redux/loading/loadingType.ts
Due: eslint

change base code
  src/hooks.ts
  src/index.tsx
  src/redux/index.ts
Due: eslint

add Type for videoLike
  src/@types/video.d.ts
Due: eslint

remove warning(start->flex-start)
  src/components/common/Footer/Footer.scss
  src/components/common/Navbar/Navbar.scss
Due: prettier --write

add api for videoLike
  src/library/api/video.ts
Due: eslint

add likeButton
  public/icons/heart-icon2.png
  src/components/Landing/VideoGrid/LikeButtonCnt.tsx
  src/components/Landing/VideoGrid/LikebuttonCnt.scss
  src/components/Video/LikeButton.scss
  src/components/Video/LikeButton.tsx
Due: eslint, prettier --write

apply video like buttons
  src/components/Landing/VideoGrid/Video.tsx
  src/components/Video/LargeVideoHeader.tsx
Due: eslint

apply change of router return values.
  src/components/Video/LargeVideoDescription.tsx
  src/components/Video/LargeVideoHeader.scss
  src/containers/Video/LargeVideoContainer.tsx
  src/containers/Video/LargeVideoDescriptionContainer.tsx
  src/containers/Video/MoreByUserContainer.tsx
  src/containers/Video/UserMaybeLike.tsx
  src/containers/Video/VideoHeader.tsx
  src/containers/auth/LoginForm.tsx
  src/containers/upload/UploadContainer.tsx
Due: eslint, prettier --write

split code as container and component
  src/components/Landing/VideoGrid/LikeButtonCount.tsx
  src/components/Landing/VideoGrid/LikebuttonCount.scss
  src/components/Landing/VideoGrid/Video.tsx
  src/components/Video/LargeVideoHeader.tsx
  src/components/Video/LikeButton.tsx
  src/containers/Video/LikeButtonContainer.tsx
  src/containers/landing/LikeButtonCountContainer.tsx
Due: eslint, prettier --write

refactoring scss of navbar
  src/App.scss
  src/components/common/Button/BlueButton.scss
  src/components/common/Button/WhiteButton.scss
  src/components/common/Navbar/Navbar.scss
  src/components/common/Navbar/Navbar.tsx
  src/containers/Video/LargeVideoContainer.tsx
  src/containers/common/NavbarContainer.tsx
  src/public/scss/public.scss
Due: eslint, prettier --write

add 404 page design. (close #36)
  public/problem.png
  src/pages/NotFound.tsx
Due: eslint

대충의 반응형
  src/App.scss
Due: prettier --write

footer, hero css refactoring
  src/components/Landing/Hero/Hero.scss
  src/components/Landing/Hero/Hero.tsx
  src/components/common/Button/BlueButton.scss
  src/components/common/Button/WhiteButton.scss
  src/components/common/Footer/Footer.scss
  src/components/common/Footer/Footer.tsx
  src/components/common/Navbar/Navbar.scss
Due: eslint, prettier --write

add orange color
  src/public/scss/public.scss
Due: prettier --write

refactor video scss
  src/components/Landing/VideoGrid/Video.scss
  src/components/Landing/VideoGrid/Video.tsx
Due: eslint, prettier --write

태그 라우터 변경하여 타입 변경
  src/@types/video.d.ts
  src/containers/Video/LargeVideoDescriptionContainer.tsx
  src/containers/landing/LikeButtonCountContainer.tsx
Due: eslint

add mypage placeholder.(need api call)
  src/components/myPage/MyPage.scss
  src/components/myPage/MyPage.tsx
  src/components/myPage/MyPageGraph.tsx
  src/pages/ProfilePage.tsx
  src/public/scss/public.scss
Due: eslint, prettier --write

change userType
  src/@types/auth.d.ts
Due: eslint

add mypage
  src/@types/user.d.ts
  src/components/Landing/VideoGrid/Video.tsx
  src/components/common/Navbar/Navbar.tsx
  src/components/myPage/MyPage.tsx
  src/components/myPage/MyPageGraph.tsx
  src/containers/landing/LikeButtonCountContainer.tsx
  src/library/api/user.ts
  src/pages/ProfilePage.tsx
Due: eslint

AxiosResponse<T>의 T는 successType이었다. success|failure Type이 아니라
  src/@types/auth.d.ts
  src/@types/user.d.ts
  src/@types/video.d.ts
  src/containers/Video/LikeButtonContainer.tsx
  src/containers/landing/LikeButtonCountContainer.tsx
  src/library/api/auth.ts
  src/library/api/video.ts
  src/redux/Video/videoSaga.ts
  src/redux/auth/authSaga.ts
Due: eslint

응애 해줘
  bbbbeta/a.html
  package-lock.json
  src/App.scss
  src/App.tsx
  src/components/findingJobs/EditorInfo/EditorInfo.tsx
  src/components/findingJobs/FilterElement/FilterElement.scss
  src/components/findingJobs/FilterElement/FilterElement.tsx
  src/components/findingJobs/HeroDescription/HeroDescription.scss
  src/components/findingJobs/HeroDescription/HeroDescription.tsx
  src/containers/findingWork/ContentContainer.scss
  src/containers/findingWork/ContentContainer.tsx
  src/containers/findingWork/FilterContainer.scss
  src/containers/findingWork/FilterContainer.tsx
  src/containers/findingWork/HeroContainer.tsx
  src/pages/FindingJobPage.tsx
  src/pages/FindingWorkPage.scss
  src/pages/FindingWorkPage.tsx
Due: eslint, prettier --write

video 유형 2개로 나눔. video description에 대해서 변수명같은거는 조금 더 고민해야함.
  public/icons/view-icon.png
  src/components/Landing/VideoGrid/LikebuttonCount.scss
  src/components/Landing/VideoGrid/Video.scss
  src/components/Landing/VideoGrid/Video.tsx
  src/components/Landing/VideoGrid/VideoDescription1.scss
  src/components/Landing/VideoGrid/VideoDescription1.tsx
  src/components/Landing/VideoGrid/VideoDescription2.scss
  src/components/Landing/VideoGrid/VideoDescription2.tsx
  src/components/Landing/VideoGrid/VideoGrid.tsx
  src/components/Video/MoreByUser.tsx
  src/components/Video/UserMaybeLike.tsx
  src/components/myPage/MyPage.tsx
  src/components/myPage/MyPageGraph.tsx
Due: eslint, prettier --write

css 매우 대충 먹였음.
  src/components/Landing/VideoGrid/Video.scss
  src/components/findingJobs/EditorInfo/EditorInfo.tsx
  src/components/findingJobs/EditorInfo/EditorInfoElement.scss
  src/components/findingJobs/EditorInfo/EditorInfoElement.tsx
  src/components/findingJobs/FilterElement/Filter.scss
  src/components/findingJobs/FilterElement/Filter.tsx
  src/components/findingJobs/FilterElement/FilterElement.scss
  src/components/findingJobs/FilterElement/FilterElement.tsx
  src/components/findingJobs/HeroDescription/HeroDescription.scss
  src/components/findingJobs/HeroDescription/HeroDescription.tsx
  src/containers/findingWork/ContentContainer.scss
  src/containers/findingWork/ContentContainer.tsx
  src/containers/findingWork/FilterContainer.scss
  src/containers/findingWork/HeroContainer.tsx
  src/pages/FindingWorkPage.scss
  src/pages/FindingWorkPage.tsx
Due: eslint, prettier --write

ADD follow icons
  public/icons/follow-icon-big.png
  public/icons/following-icon.png
Due: none

ADD user api
  src/library/api/user.ts
Due: eslint

Path conditions:
  eslint: any of: *.{ts,tsx}
  prettier --write: any of: *.{html,css,scss}
