Repository eedited/ReactWeb: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

refac (1/3) step for v1.0.0 MVP
  src/components/Landing/Hero/Hero.scss
  src/components/Landing/Hero/Hero.tsx
  src/components/Landing/VideoGrid/Buttons/LikebuttonCount.scss
  src/components/Landing/VideoGrid/Video.scss
  src/components/Landing/VideoGrid/VideoDescription/VideoDescription1.scss
  src/components/Landing/VideoGrid/VideoDescription/VideoDescription2.scss
  src/components/Video/FollowButton.scss
  src/components/Video/LargeVideoDescription.scss
  src/components/Video/LargeVideoHeader.scss
  src/components/Video/LikeButton.scss
  src/components/Video/MoreByUser.scss
  src/components/Video/UserMaybeLike.scss
  src/components/auth/AuthForm.scss
  src/components/common/Button/BlueButton.scss
  src/components/common/Button/WhiteButton.scss
  src/components/common/Footer/Footer.scss
  src/components/common/Navbar/Navbar.scss
  src/components/myPage/MyPage.scss
  src/components/upload/Upload.scss
  src/components/upload/Upload.tsx
  src/react-app-env.d.ts
  src/redux/auth/authSaga.ts
Due: eslint, prettier --write

start -> flex-start
  src/components/common/Footer/Footer.scss
Due: prettier --write

작은 에러 수정(이미지 경로 수정에 따른 생긴 에러)
  src/components/myPage/MyPageGraph.tsx
  src/components/upload/Upload.scss
  src/components/upload/Upload.tsx
  src/pages/NotFound.tsx
Due: eslint, prettier --write

필터에 실제 데이터 연결
  src/@types/filter.d.ts
  src/@types/video.d.ts
  src/App.tsx
  src/components/Landing/Filter/Filter.tsx
  src/containers/filter/DropDownContainer.tsx
  src/containers/filter/FilterContainer.tsx
  src/containers/landing/VideoGridContainer.tsx
  src/library/api/video.ts
  src/pages/Landing.tsx
  src/redux/filter/filter.ts
  src/redux/index.ts
Due: eslint

react-virtualized dependency 추가 동영상 60개에 메모리 1.4기가 먹음. 최적화 필요.
  package-lock.json
  package.json
Due: none

video 동영상 조건부 렌더링으로 변경.
  src/components/Landing/VideoGrid/Video.tsx
  src/containers/landing/VideoContainer.tsx
Due: eslint

react virtualiezd type dep
  package-lock.json
  package.json
Due: none

로그인, 회원가입 폼 수정, input box들 시작 점 수정.
  src/components/Landing/VideoGrid/Video.tsx
  src/components/auth/AuthForm.scss
  src/components/auth/AuthForm.tsx
  src/components/upload/Upload.scss
Due: eslint, prettier --write

마이페이지 그래프 수정.
  src/components/auth/AuthForm.scss
  src/components/myPage/MyPageGraph.tsx
Due: eslint, prettier --write

refac (2-1/3) step for v1.0.0 MVP
  src/App.tsx
  src/components/Landing/VideoGrid/Buttons/LikeButtonCount.tsx
  src/components/auth/AuthForm.scss
  src/hooks/index.ts
  src/index.tsx
  src/redux/Video/videoSaga.ts
  src/redux/createRequestSaga.ts
  src/redux/filter/filter.ts
  src/redux/index.ts
  src/redux/loading/loading.ts
  src/redux/user/user.ts
  src/redux/user/userSaga.ts
Due: eslint, prettier --write

auth modal view 추가.
  src/components/Landing/VideoGrid/Buttons/LikeButtonCount.tsx
  src/components/Landing/VideoGrid/VideoDescription/VideoDescription1.tsx
  src/components/auth/AuthOverlay.scss
  src/components/auth/AuthOverlay.tsx
  src/components/common/Navbar/Navbar.tsx
  src/containers/auth/LoginOverlayContainer.tsx
  src/containers/auth/SignupOverlayContainer.tsx
  src/containers/common/NavbarContainer.tsx
  src/containers/landing/LikeButtonCountContainer.tsx
  src/redux/user/userSaga.ts
Due: eslint, prettier --write

폴더 구조 개편에 따른 에러 수정.
  src/components/Landing/VideoGrid/VideoGrid.tsx
  src/components/Video/LargeVideoHeader.tsx
  src/components/Video/Largevideo.tsx
  src/components/Video/MoreByUser.tsx
  src/components/Video/UserMaybeLike.tsx
  src/components/common/Navbar/Navbar.tsx
  src/components/myPage/MyPage.tsx
  src/components/upload/Upload.tsx
  src/containers/Video/FollowButtonContainer.tsx
  src/containers/Video/LargeVideoContainer.tsx
  src/containers/Video/LargeVideoDescriptionContainer.tsx
  src/containers/Video/LikeButtonContainer.tsx
  src/containers/Video/MoreByUserContainer.tsx
  src/containers/Video/UserMaybeLike.tsx
  src/containers/Video/VideoHeader.tsx
  src/containers/common/Footer.tsx
  src/containers/common/NavbarContainer.tsx
  src/containers/filter/DropDownContainer.tsx
  src/containers/filter/FilterContainer.tsx
  src/containers/landing/HeroDescription.tsx
  src/containers/landing/LikeButtonCountContainer.tsx
  src/containers/landing/VideoContainer.tsx
  src/containers/landing/VideoGridContainer.tsx
  src/pages/NotFound.tsx
  src/pages/VideoPage.tsx
Due: eslint

body에 기본폰트 추가
  public/init.css
Due: prettier --write

마이페이지에 동영상이 없을 때 유저 인터렉션 추가
  src/components/myPage/MyPage.scss
  src/components/myPage/MyPage.tsx
  src/containers/myPage/MyPageContainer.tsx
Due: eslint, prettier --write

useEffect dependecy array때문에 toggle이 안되는 현상 수정.
  src/containers/Video/FollowButtonContainer.tsx
Due: eslint

db 스키마 변화에 따른 타입 변경
  src/@types/auth.d.ts
Due: eslint

signup process 추가에 따른 안내 페이지 추가
  src/App.tsx
  src/components/common/Navbar/Navbar.tsx
  src/pages/HelloPage.scss
  src/pages/HelloPage.tsx
  src/pages/SignupSuccess.scss
  src/pages/SignupSuccess.tsx
Due: eslint, prettier --write

회원가입 성공시 signupSuccess 페이지로 리다이렉팅
  src/containers/auth/SignupOverlayContainer.tsx
Due: eslint

email validation 만들었음.
  src/@types/auth.d.ts
  src/App.tsx
  src/api/auth.ts
  src/components/common/Navbar/Navbar.tsx
  src/components/myPage/MyPage.tsx
  src/containers/auth/LoginOverlayContainer.tsx
  src/containers/auth/SignupOverlayContainer.tsx
  src/containers/myPage/MyPageContainer.tsx
  src/pages/EmailValidate.tsx
  src/pages/UploadPage.tsx
  src/redux/auth/authSaga.ts
Due: eslint

discription => description 오타 수정.
  src/@types/video.d.ts
  src/api/video.ts
  src/containers/Video/LargeVideoDescriptionContainer.tsx
  src/containers/Video/UserMaybeLike.tsx
  src/containers/upload/UploadContainer.tsx
  src/containers/upload/VideoChangeContainer.tsx
Due: eslint

footer 반응형
  src/components/common/Footer/Footer.scss
Due: prettier --write

hero 반응형
  src/components/Landing/Hero/Hero.scss
Due: prettier --write

에러 수정
  src/containers/auth/LoginOverlayContainer.tsx
  src/containers/auth/SignupOverlayContainer.tsx
Due: eslint

반응형 웹 적용중---1/3
  src/components/Video/LargeVideoHeader.scss
  src/components/Video/Largevideo.scss
  src/components/Video/Largevideo.tsx
  src/components/Video/MoreByUser.scss
  src/components/Video/MoreByUser.tsx
  src/components/Video/UserMaybeLike.scss
  src/components/auth/AuthOverlay.scss
  src/components/common/HorizonLine/HorizonLine.scss
  src/components/common/Navbar/Navbar.scss
  src/components/common/Navbar/Navbar.tsx
  src/components/myPage/MyPage.scss
  src/components/myPage/MyPage.tsx
  src/components/myPage/MyPageGraph.tsx
  src/containers/common/NavbarContainer.tsx
  src/containers/myPage/MyPageContainer.tsx
  src/hooks/useWindowSize.ts
Due: eslint, prettier --write

user may be like video placeholer를 실제 데이터로 채움
  src/@types/video.d.ts
  src/containers/Video/UserMaybeLike.tsx
  src/redux/Video/video.ts
  src/redux/Video/videoSaga.ts
Due: eslint

반응형 (2/3)
  src/components/Landing/Filter/Filter.scss
  src/components/Video/FollowButton.tsx
  src/components/Video/LargeVideoDescription.scss
  src/components/Video/LargeVideoHeader.scss
  src/components/Video/Largevideo.scss
  src/components/Video/LikeButton.tsx
  src/components/Video/MoreByUser.scss
  src/components/Video/UserMaybeLike.scss
  src/components/auth/AuthForm.scss
  src/components/auth/AuthOverlay.scss
  src/components/auth/AuthOverlay.tsx
  src/components/common/DropDown/DropDown.scss
  src/containers/Video/FollowButtonContainer.tsx
  src/containers/Video/LikeButtonContainer.tsx
  src/containers/common/NavbarContainer.tsx
Due: eslint, prettier --write

LargeVideoHeader, MyPage margin 추가
  src/components/Video/LargeVideoHeader.scss
  src/components/myPage/MyPage.scss
Due: prettier --write

account setting page 추가
  src/@types/auth.d.ts
  src/@types/user.d.ts
  src/App.tsx
  src/api/auth.ts
  src/api/user.ts
  src/components/myPage/MyPage.scss
  src/components/myPage/MyPage.tsx
  src/containers/accountSetting/AccountSetting.scss
  src/containers/accountSetting/AccountSettingContainer.tsx
  src/containers/accountSetting/Setting.scss
  src/containers/accountSetting/SettingMyPage.tsx
  src/containers/accountSetting/SettingPassword.tsx
  src/containers/myPage/MyPageContainer.tsx
  src/pages/AccountSettingPage.tsx
Due: eslint, prettier --write

video delete 버튼 추가
  src/@types/video.d.ts
  src/api/video.ts
  src/components/upload/Upload.scss
  src/components/upload/Upload.tsx
  src/containers/upload/VideoChangeContainer.tsx
Due: eslint, prettier --write

navbar 마진 수정
  src/components/common/Navbar/Navbar.scss
Due: prettier --write

검색 페이지 구현
  src/@types/search.d.ts
  src/App.tsx
  src/api/search.ts
  src/components/common/Navbar/Navbar.tsx
  src/containers/auth/LoginOverlayContainer.tsx
  src/containers/common/NavbarContainer.tsx
  src/containers/find/Find.scss
  src/containers/find/FindContainer.tsx
  src/containers/landing/VideoGridContainer.tsx
  src/pages/FindingPage.tsx
Due: eslint, prettier --write

authOverlay 상위 class에 따라 css가 변하던 문제 해결.
  package.json
  public/index.html
  src/App.scss
  src/components/auth/AuthOverlay.scss
  src/components/auth/AuthOverlay.tsx
  src/containers/common/NavbarContainer.tsx
  src/hooks/Protal.tsx
Due: eslint, prettier --write

mypage follow 버튼 추가.
  src/@types/user.d.ts
  src/components/Video/FollowButton.scss
  src/components/common/Navbar/Navbar.scss
  src/components/common/Navbar/Navbar.tsx
  src/components/myPage/MyPage.scss
  src/components/myPage/MyPage.tsx
  src/containers/find/FindContainer.tsx
  src/containers/myPage/MyPageContainer.tsx
  src/containers/myPage/MyPageFollowContainer.tsx
Due: eslint, prettier --write

redux video 경로 대소문자 수정.
  src/redux/video/video.ts
  src/redux/video/videoSaga.ts
Due: eslint

temp commit for redux/video
  src/redux/foo/video.ts
  src/redux/foo/videoSaga.ts
Due: eslint

Path conditions:
  eslint: any of: *.{ts,tsx}
  prettier --write: any of: *.{html,css,scss}
