Repository eedited/ReactWeb: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

.lintstagedrc:

{
    "*.{ts,tsx}": ["eslint"],
    "*.{html,css,scss}": ["prettier --write"]
}

video margin 조정, gitlab ci discord 주소
  .gitlab-ci.yml
  Dockerfile
  src/components/landing/videoGrid/Video.scss
  src/components/landing/videoGrid/videoDescription/VideoDescription1.scss
Due: prettier --write

gitlab ci yaml --build-arg 추가
  .gitlab-ci.yml
Due: none

sns login 동작 오류로 일단 닫음
  src/components/auth/AuthOverlay.tsx
Due: eslint

마이페이지 sns 아이콘 재배열, 네비게이션바 login -> 로그인
  src/components/common/navbar/Navbar.tsx
  src/components/myPage/MyPage.scss
  src/components/myPage/MyPage.tsx
  src/components/myPage/MyPageGraph.tsx
  src/components/video/LargeVideoHeader.scss
  src/images/facebook-brands.svg
  src/images/instagram-brands.svg
  src/images/linkedin-brands.svg
Due: eslint, prettier --write

동영상 카테고리 수정
  src/containers/filter/FilterContainer.tsx
  src/pages/Landing.tsx
  src/redux/filter/filter.ts
Due: eslint

필터 드랍다운 글씨 크기 줄임.
  src/components/common/dropDown/DropDown.scss
  src/components/upload/Upload.scss
Due: prettier --write

푸터 변경
  src/components/common/footer/Footer.tsx
Due: eslint

navbar align
  src/components/common/navbar/Navbar.scss
Due: prettier --write

user settinng page error handling
  src/containers/accountSetting/RecieveDiscomfort.tsx
  src/containers/accountSetting/SettingMyPage.tsx
Due: eslint

navbar sticky
  src/components/common/navbar/Navbar.scss
  src/components/common/navbar/Navbar.tsx
Due: eslint, prettier --write

z-index authoverlay 3000
  src/components/auth/AuthOverlay.scss
Due: prettier --write

유저 삭제 구현
  src/@types/auth.d.ts
  src/api/auth.ts
  src/containers/accountSetting/AccountSettingContainer.tsx
  src/containers/accountSetting/DeleteUser.tsx
  src/containers/accountSetting/Setting.scss
  src/pages/AccountSettingPage.tsx
Due: eslint, prettier --write

비밀번호 정책 수정(불완전한 8자, 숫자 문자, 특수문자 포함 -> 숫자, 문자 8자)
  src/containers/accountSetting/SettingPassword.tsx
  src/containers/auth/SignupOverlayContainer.tsx
  src/services/regex/password.ts
Due: eslint

비밀번호 정책 수정(불완전한 8자, 숫자 문자, 특수문자 포함 -> 숫자, 문자 8자)
  src/services/regex/password.ts
Due: eslint

sns 관련 페이지 구현.
  src/@types/user.d.ts
  src/api/user.ts
  src/containers/accountSetting/AccountSettingContainer.tsx
  src/containers/accountSetting/SettingSns.tsx
  src/pages/AccountSettingPage.tsx
Due: eslint

hero 업데이트
  public/images/heros/deadline.png
  public/images/heros/success.png
  src/components/landing/hero/EventHero.tsx
  src/components/landing/hero/Hero.scss
  src/components/landing/hero/Hero.tsx
  src/components/landing/hero/ServiceHero.tsx
  src/components/landing/heroSlider/HeroSlider.tsx
Due: eslint, prettier --write

navbar에 공지사항 추가
  src/components/common/navbar/Navbar.tsx
Due: eslint

sns 로그인 구현
  src/@types/auth.d.ts
  src/@types/user.d.ts
  src/components/common/button/BlueButton.tsx
  src/components/common/button/WhiteButton.tsx
  src/components/common/navbar/Navbar.tsx
  src/components/myPage/MyPage.tsx
  src/containers/accountSetting/AccountSettingContainer.tsx
  src/containers/accountSetting/DeleteUser.tsx
  src/containers/accountSetting/RecieveDiscomfort.tsx
  src/containers/accountSetting/SettingMyPage.tsx
  src/containers/accountSetting/SettingPassword.tsx
  src/containers/accountSetting/SettingSns.tsx
  src/containers/auth/LoginForm.tsx
  src/containers/auth/LoginOverlayContainer.tsx
  src/containers/common/NavbarContainer.tsx
  src/containers/landing/VideoGridContainer.tsx
  src/containers/myPage/MyPageContainer.tsx
  src/containers/upload/VideoChangeContainer.tsx
  src/containers/video/UserMaybeLike.tsx
  src/pages/AccountSettingPage.tsx
  src/pages/SnsAuthPage.tsx
  src/pages/UploadPage.tsx
  src/pages/VideoChangePage.tsx
Due: eslint

sns 스타일링
  src/components/myPage/MyPage.scss
  src/components/myPage/MyPage.tsx
  src/containers/accountSetting/SettingSns.tsx
  src/images/facebook-brands.svg
  src/images/instagram-brands.svg
  src/images/linkedin-brands.svg
Due: eslint, prettier --write

mypage canvas 화질 깨짐 해결
  src/components/myPage/MyPageGraph.tsx
Due: eslint

네비게이션바, 비디오 헤더, 비디오 디스크립션2 수정
  src/components/common/navbar/Navbar.tsx
  src/components/landing/videoGrid/videoDescription/VideoDescription2.scss
  src/components/landing/videoGrid/videoDescription/VideoDescription2.tsx
  src/components/video/LargeVideoHeader.tsx
  src/images/twitter-brands.svg
Due: eslint, prettier --write

초기 url setting
  src/containers/accountSetting/SettingSns.tsx
Due: eslint

add twitter to mypage
  src/components/myPage/MyPage.scss
  src/components/myPage/MyPage.tsx
Due: eslint, prettier --write

email validation 할 때 이메일 보여줌
  src/containers/auth/SignupOverlayContainer.tsx
  src/pages/SignupSuccess.scss
  src/pages/SignupSuccess.tsx
Due: eslint, prettier --write

add twitter icon and make it activate
  src/@types/auth.d.ts
  src/@types/user.d.ts
  src/api/user.ts
  src/components/myPage/MyPage.tsx
  src/containers/accountSetting/SettingSns.tsx
Due: eslint

유저 검색기능 추가
  src/components/landing/userGrid/User.scss
  src/components/landing/userGrid/User.tsx
  src/components/landing/userGrid/UserGrid.scss
  src/components/landing/userGrid/UserGrid.tsx
  src/components/landing/userGrid/buttons/FollowerButtonCount.scss
  src/components/landing/userGrid/buttons/FollowerButtonCount.tsx
  src/components/landing/userGrid/userDescription/UserDescription.scss
  src/components/landing/userGrid/userDescription/UserDescription.tsx
  src/containers/find/FindContainer.tsx
  src/containers/landing/FollowerButtonCountContainer.tsx
  src/containers/landing/UserContainer.tsx
  src/images/followerCntIcon.svg
Due: eslint, prettier --write

nickname -> userId
  src/components/landing/userGrid/User.tsx
Due: eslint

userId->nickname, flush combine array
  src/components/landing/userGrid/userDescription/UserDescription.tsx
  src/containers/find/FindContainer.tsx
Due: eslint

find page 완료. mypage graph 에러 수정
  src/components/landing/userGrid/userDescription/UserDescription.scss
  src/components/landing/userGrid/userDescription/UserDescription.tsx
  src/components/myPage/MyPage.scss
  src/components/myPage/MyPageGraph.tsx
  src/containers/find/FindContainer.tsx
Due: eslint, prettier --write

add google analytics tag to index.html head
  public/index.html
Due: prettier --write

add react-ga dependency
  package-lock.json
  package.json
Due: none

add react ga and add listener
  public/index.html
  src/App.tsx
  src/hooks/RouteChangeTracker.tsx
  src/index.tsx
Due: eslint, prettier --write

inject env file to docker and ci/cd
  .gitlab-ci.yml
  Dockerfile
Due: none

change routeChangeTraker location
  src/App.tsx
Due: eslint

enclose route change tracker in route component
  src/App.tsx
Due: eslint

add useEffect for window for GA
  src/App.tsx
  src/hooks/RouteChangeTracker.tsx
Due: eslint

path가 변할때마다 GA에 알릴 수 있도록 변경
  src/App.tsx
  src/store.ts
Due: eslint

block유저 CUD활동시 block페이지로 연결되도록 변경
  src/@types/video.d.ts
  src/App.tsx
  src/containers/accountSetting/DeleteUser.tsx
  src/containers/accountSetting/SettingMyPage.tsx
  src/containers/accountSetting/SettingSns.tsx
  src/containers/myPage/MyPageFollowContainer.tsx
  src/containers/upload/UploadContainer.tsx
  src/containers/upload/VideoChangeContainer.tsx
  src/containers/video/FollowButtonContainer.tsx
  src/containers/video/LikeButtonContainer.tsx
  src/pages/BlockUserPage.tsx
Due: eslint

App.tsx 오타 수정
  src/App.tsx
Due: eslint

마이페이지에 공유하기 버튼 추가
  src/components/myPage/MyPage.scss
  src/components/myPage/MyPage.tsx
  src/images/share-square-regular.svg
Due: eslint, prettier --write
