Repository eedited/ReactWeb: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

.lintstagedrc:

{
    "*.{ts,tsx}": ["eslint"],
    "*.{html,css,scss}": ["prettier --write"]
}

renew package.json
  package-lock.json
  package.json
Due: none

로그아웃시 동영상 좋아요 남아있는 오류 수정중
  src/containers/Video/LargeVideoContainer.tsx
  src/containers/Video/LikeButtonContainer.tsx
  src/pages/Landing.tsx
  src/redux/user/user.ts
  src/redux/user/userSaga.ts
Due: eslint

ADD initial sns login func
  public/icons/googleImage.png
  src/components/auth/AuthOverlay.scss
  src/components/auth/AuthOverlay.tsx
Due: eslint, prettier --write

MODIFY file names
  src/containers/Video/LargeVideoContainer.tsx
  src/containers/Video/MoreByUserContainer.tsx
  src/containers/Video/UserMaybeLike.tsx
  src/containers/landing/VideoGridContainer.tsx
  src/containers/upload/UploadContainer.tsx
  src/containers/upload/VideoChangeContainer.tsx
  src/redux/Video/videoSaga.ts
  src/redux/index.ts
Due: eslint

snsAuthPage 구현
  src/App.tsx
  src/pages/SnsAuthPage.tsx
  src/redux/Video/videoSaga.ts
Due: eslint

add design for google-login
  public/icons/google-icon.png
  src/components/auth/AuthOverlay.scss
  src/components/auth/AuthOverlay.tsx
Due: eslint, prettier --write

로그아웃시 동영상 불러오는 로직에 user dependency 추가
  src/containers/Video/UserMaybeLike.tsx
  src/containers/myPage/MyPageContainer.tsx
Due: eslint

로그인/ 회원가입 시 spinner 구현.
  src/components/auth/AuthOverlay.scss
  src/components/auth/AuthOverlay.tsx
  src/containers/auth/LoginOverlayContainer.tsx
  src/containers/auth/SignupOverlayContainer.tsx
Due: eslint, prettier --write

본인 follow 막기
  src/components/Video/LargeVideoHeader.tsx
  src/components/myPage/MyPage.tsx
  src/containers/Video/FollowButtonContainer.tsx
  src/containers/myPage/MyPageFollowContainer.tsx
Due: eslint

동영상 카테고리 추가.(업로드, 업로드 수정, 필터, 푸터 연결)
  src/@types/filter.d.ts
  src/@types/video.d.ts
  src/api/video.ts
  src/components/common/DropDown/DropDown.tsx
  src/components/common/Footer/Footer.tsx
  src/components/upload/Upload.scss
  src/components/upload/Upload.tsx
  src/containers/accountSetting/AccountSettingContainer.tsx
  src/containers/filter/DropDownContainer.tsx
  src/containers/filter/FilterContainer.tsx
  src/containers/upload/UploadContainer.tsx
  src/containers/upload/UploadDropDown.tsx
  src/containers/upload/VideoChangeContainer.tsx
  src/hooks/index.ts
  src/pages/Landing.tsx
  src/redux/filter/filter.ts
  src/redux/index.ts
Due: eslint, prettier --write

랜딩페이지 multiple hero 구현(+fade effect)
  src/components/Landing/Hero/EventHero.tsx
  src/components/Landing/heroSlider/HeroSlider.scss
  src/components/Landing/heroSlider/HeroSlider.tsx
  src/components/common/Navbar/Navbar.scss
  src/pages/Landing.tsx
Due: eslint, prettier --write

axios error fixed.
  src/containers/Video/FollowButtonContainer.tsx
  src/containers/Video/LikeButtonContainer.tsx
  src/containers/auth/FindingIdContainer.tsx
  src/containers/auth/FindingPwContainer.tsx
  src/containers/landing/LikeButtonCountContainer.tsx
  src/containers/myPage/MyPageFollowContainer.tsx
  src/redux/createRequestSaga.ts
Due: eslint

videoInfo -> videoList
  src/components/Landing/VideoGrid/VideoGrid.tsx
  src/containers/landing/VideoGridContainer.tsx
Due: eslint

change for prod env.(dockerfile, cors)
  .dockerignore
  Dockerfile
  nginx.conf
  package.json
  src/api/client.ts
  src/components/Landing/VideoGrid/VideoGrid.tsx
  src/containers/find/FindContainer.tsx
  src/containers/landing/VideoGridContainer.tsx
Due: eslint

가변적이었던 navbar dd 크기 고정
  src/components/common/Navbar/Navbar.scss
Due: prettier --write

cors 에러 수정
  src/api/client.ts
Due: eslint

약관 추가
  src/App.tsx
  src/pages/HelloPage.tsx
  src/pages/PrivateInformationPolicy.tsx
  src/pages/ServicePolicy.tsx
Due: eslint

find pw, find id 스타일링, spinner 따로 빼기
  src/components/Landing/Hero/EventHero.tsx
  src/components/auth/AuthOverlay.tsx
  src/components/auth/FindigPw.tsx
  src/components/auth/FindingId.scss
  src/components/auth/FindingId.tsx
  src/components/auth/FindingPw.scss
  src/components/auth/FindingPw.tsx
  src/components/common/Spinner/Spinner.scss
  src/components/common/Spinner/Spinner.tsx
  src/containers/auth/FindingIdContainer.tsx
  src/containers/auth/FindingPwContainer.tsx
  src/containers/myPage/MyPageContainer.tsx
Due: eslint, prettier --write

html title 변경
  public/index.html
Due: prettier --write

유저 불만사항 접수 구현
  src/@types/user.d.ts
  src/api/user.ts
  src/containers/accountSetting/AccountSettingContainer.tsx
  src/containers/accountSetting/RecieveDiscomfort.tsx
  src/containers/accountSetting/Setting.scss
Due: eslint, prettier --write

navbar에 유저 불만사항, 서비스 설명 추가
  src/components/common/Navbar/Navbar.scss
  src/components/common/Navbar/Navbar.tsx
Due: eslint, prettier --write

개인정보 취급방침 추가
  src/components/auth/AuthOverlay.tsx
  src/pages/AccountSettingPage.tsx
  src/pages/UploadPage.tsx
Due: eslint

index.tsx에 index.css 추가
  src/index.css
  src/index.tsx
Due: eslint, prettier --write

2번째 인자에 /안붙이면 에러날수도 있어서 추가.
  Dockerfile
Due: none

email 제출 시 spinner 구현
  src/containers/accountSetting/RecieveDiscomfort.tsx
Due: eslint

preparing중인 서비스 표시
  src/App.scss
  src/components/Video/LargeVideoHeader.tsx
  src/components/common/Footer/Footer.tsx
  src/components/common/Navbar/Navbar.scss
  src/components/common/Navbar/Navbar.tsx
  src/components/myPage/MyPage.tsx
  src/containers/myPage/MyPageContainer.tsx
  src/index.css
  src/pages/ChatPage.tsx
Due: eslint, prettier --write

windowexplorer11지원
  package-lock.json
  package.json
  src/index.tsx
Due: eslint

discord url 추가
  src/components/Landing/Hero/EventHero.tsx
  src/containers/accountSetting/RecieveDiscomfort.tsx
Due: eslint

마이페이지 에러 수정(setting아이콘이 로그아웃 후에도 보임)
  src/containers/myPage/MyPageContainer.tsx
Due: eslint

프로필 사진 업로드 추가
  package-lock.json
  package.json
  src/@types/user.d.ts
  src/@types/video.d.ts
  src/api/auth.ts
  src/api/client.ts
  src/api/user.ts
  src/components/Video/LargeVideoHeader.tsx
  src/components/common/Navbar/Navbar.tsx
  src/components/myPage/MyPage.tsx
  src/components/myPage/MyPageGraph.tsx
  src/containers/accountSetting/AccountSettingContainer.tsx
  src/containers/accountSetting/Setting.scss
  src/containers/accountSetting/SettingMyPage.tsx
  src/containers/upload/UploadContainer.tsx
  src/index.tsx
  src/pages/UploadPage.tsx
  src/redux/filter/filter.ts
  src/redux/user/user.ts
  src/services/upload/index.ts
Due: eslint, prettier --write

포탈으로 인한 에러 수정.
  src/components/Landing/VideoGrid/Buttons/LikeButtonCount.tsx
  src/components/Video/FollowButton.tsx
  src/components/Video/LikeButton.tsx
  src/components/auth/AuthOverlay.tsx
  src/components/common/Navbar/Navbar.tsx
  src/containers/auth/AuthProtal.tsx
  src/containers/auth/LoginOverlayContainer.tsx
  src/containers/auth/SignupOverlayContainer.tsx
Due: eslint

settings for distribution
  .dockerignore
  .gitlab-ci.yml
Due: none

password 제한 설정 추가.
  src/containers/auth/SignupOverlayContainer.tsx
  src/services/regex/index.ts
  src/services/regex/password.ts
Due: eslint

파일 업로드 에러 수정.
  package.json
  src/containers/accountSetting/SettingMyPage.tsx
Due: eslint

docker setting
  Dockerfile
  nginx.conf
  package.json
  public/health/index.html
Due: prettier --write

font awesome에서 이미지 파일로 변경.
  package-lock.json
  public/icons/bar-icon.png
  public/icons/search-icon.png
  src/components/common/Navbar/Navbar.scss
  src/components/common/Navbar/Navbar.tsx
  src/containers/find/Find.scss
  src/containers/find/FindContainer.tsx
Due: eslint, prettier --write

nginx 80포토 : 서비스, 4000포트 : 헬스체크
  nginx.conf
  public/health/index.html
Due: prettier --write

디자인 수정
  public/icons/remove-icon.png
  src/App.scss
  src/components/Landing/Filter/Filter.scss
  src/components/Landing/Filter/Filter.tsx
  src/components/Video/LargeVideoHeader.tsx
  src/components/auth/AuthOverlay.scss
  src/components/common/DropDown/DropDown.scss
  src/components/common/DropDown/DropDown.tsx
  src/components/common/Navbar/Navbar.scss
  src/components/common/Navbar/Navbar.tsx
  src/components/myPage/MyPage.tsx
  src/components/upload/Upload.tsx
  src/containers/filter/DropDownContainer.tsx
  src/pages/AccountSettingPage.tsx
Due: eslint, prettier --write

add code-deploy
  .gitlab-ci.yml
Due: none

reallocate port number
  nginx.conf
  package.json
Due: none
