Repository eedited/ReactWeb: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

MODIFY types because router's return value changed
  src/@types/user.d.ts
  src/@types/video.d.ts
Due: eslint

ADD follow button
  src/components/Video/FollowButton.scss
  src/components/Video/FollowButton.tsx
  src/components/Video/LargeVideoHeader.tsx
  src/containers/Video/FollowButtonContainer.tsx
Due: eslint, prettier --write

video css 변경, video description을 하나의 directory로 묶음.
  src/components/Landing/VideoGrid/Video.tsx
  src/components/Landing/VideoGrid/VideoDescription/VideoDescription1.scss
  src/components/Landing/VideoGrid/VideoDescription/VideoDescription1.tsx
  src/components/Landing/VideoGrid/VideoDescription/VideoDescription2.scss
  src/components/Landing/VideoGrid/VideoDescription/VideoDescription2.tsx
  src/components/Landing/VideoGrid/VideoGrid.tsx
  src/components/Video/LargeVideoHeader.scss
  src/components/Video/LikeButton.scss
  src/components/Video/MoreByUser.scss
  src/components/Video/MoreByUser.tsx
  src/components/Video/UserMaybeLike.scss
  src/components/Video/UserMaybeLike.tsx
  src/components/myPage/MyPage.tsx
Due: eslint, prettier --write

비디오에서 유저 닉네임을 눌렀을 때 그 유저 마이페이지로 리다이렉팅, 잘못된 user에 대해 404로 리다이렉팅
  src/components/Video/LargeVideoHeader.tsx
  src/components/myPage/MyPage.tsx
Due: eslint

follow button css 변경, likebutton을 button의 directory로 옮김.
  src/components/Landing/VideoGrid/Buttons/LikeButtonCount.tsx
  src/components/Landing/VideoGrid/Buttons/LikebuttonCount.scss
  src/components/Video/FollowButton.scss
Due: eslint, prettier --write

error fix
  src/containers/landing/LikeButtonCountContainer.tsx
Due: eslint

youtube 링크 파싱 완료.
  src/components/upload/Upload.tsx
  src/containers/upload/UploadContainer.tsx
Due: eslint

upload tag에 blur Event 추가.
  src/components/upload/Upload.tsx
  src/containers/upload/UploadContainer.tsx
Due: eslint

중복되는 요소가 있을 때 태그 리스트에 들어가지 않음. // 태그 리스트에 여러 요소가 들어왔을 때 레이아웃 정리
  src/components/upload/Upload.scss
  src/containers/upload/UploadContainer.tsx
Due: eslint, prettier --write

이미지 퀄리티 약간 올림
  src/containers/upload/UploadContainer.tsx
Due: eslint

마이페이지 컴포넌트, 컨테이너 분리
  src/@types/user.d.ts
  src/components/myPage/MyPage.tsx
  src/containers/myPage/MyPageContainer.tsx
Due: eslint

업로드 할 때 태그 에러 만들고, 태그의 최대 길이 설정(8글자)
  src/components/upload/Upload.tsx
  src/containers/upload/UploadContainer.tsx
Due: eslint

upload scss 변경, 프로필 페이지 컨테이너 사용.
  src/components/upload/Upload.scss
  src/pages/ProfilePage.tsx
Due: eslint, prettier --write

upload page 반응형, error에 빨간색
  src/components/upload/Upload.scss
  src/components/upload/Upload.tsx
Due: eslint, prettier --write

myPageGraph 수정
  src/components/myPage/MyPageGraph.tsx
Due: eslint

upload 페이지 반응형
  src/components/upload/Upload.scss
Due: prettier --write

follow button border radius 오류 수정
  src/components/Video/FollowButton.scss
Due: prettier --write

useInput 커스텀 훅 변경
  src/containers/auth/FindingIdContainer.tsx
  src/containers/auth/FindingPwContainer.tsx
  src/library/hooks/useInputs.ts
Due: eslint

1300px 이하일 때 글자수 줄였던거 수정
  src/App.scss
Due: prettier --write

video Modify api call부분. redux 사용.
  src/@types/video.d.ts
  src/library/api/video.ts
  src/redux/Video/video.ts
  src/redux/Video/videoSaga.ts
Due: eslint

video modify 페이지 추가.
  src/App.tsx
  src/components/Video/LargeVideoHeader.tsx
  src/components/myPage/MyPage.tsx
  src/containers/Video/VideoHeader.tsx
  src/containers/upload/VideoChangeContainer.tsx
  src/pages/VideoChangePage.tsx
Due: eslint

css 수정
  src/components/Video/LargeVideoDescription.scss
  src/components/upload/Upload.tsx
  src/public/chat-icon.svg
  src/public/scss/public.scss
Due: eslint, prettier --write

mac에서도 4000번대 포트를 기본으로 열기 위한 cross-env dependency 추가
  package-lock.json
  package.json
Due: none

이미지들 추가
  public/icons/edit-icon.png
  public/icons/setting-icon.png
  public/images/heroImg.png
  public/images/loginImg.png
  public/images/problem.png
  public/images/uploadImg.png
  public/upload_temp.png
Due: none

authForm에 스타일 추가
  src/components/auth/AuthForm.scss
  src/components/auth/AuthForm.tsx
Due: eslint, prettier --write

drop down align 수정
  src/components/common/DropDown/DropDown.scss
  src/components/common/DropDown/DropDown.tsx
Due: eslint, prettier --write

이미지 적용
  src/components/upload/Upload.tsx
  src/pages/LoginPage.tsx
  src/pages/SingupPage.tsx
Due: eslint

비디오 수정버튼 추가
  src/components/Video/LargeVideoHeader.scss
  src/components/Video/LargeVideoHeader.tsx
Due: eslint, prettier --write

히어로 이미지 적용
  src/components/Landing/Hero/Hero.tsx
Due: eslint

infinite scroll 적용
  src/@types/video.d.ts
  src/components/Landing/VideoGrid/VideoGrid.tsx
  src/containers/landing/VideoGridContainer.tsx
  src/redux/Video/video.ts
Due: eslint

re-type & add pre-header RDX to redux module
  src/@types/auth.d.ts
  src/@types/filter.d.ts
  src/@types/user.d.ts
  src/@types/video.d.ts
Due: eslint

rearrange imgs
  public/edit-regular.svg
  public/images/heroImg.png
  public/images/loginImg.png
  public/play-button.png
Due: none

rearrange imgs
  public/images/heros/heroImg.png
  public/images/heros/loginImg.png
  public/images/play-button.png
Due: none

refac types to uppercase
  src/api/auth.ts
  src/api/client.ts
  src/api/user.ts
  src/api/video.ts
  src/library/api/auth.ts
  src/library/api/user.ts
  src/library/api/video.ts
Due: eslint

lint spaces
  src/components/auth/AuthForm.tsx
  src/components/auth/FindigPw.tsx
Due: eslint

lint spaces
  src/components/common/Button/BlueButton.tsx
  src/components/common/Button/WhiteButton.tsx
  src/components/common/DropDown/DropDown.tsx
  src/components/common/Navbar/Navbar.tsx
  src/components/common/ScrollTop.tsx
Due: eslint

lint spaces
  src/components/Landing/Filter/Filter.tsx
  src/components/Landing/VideoGrid/Buttons/LikeButtonCount.tsx
  src/components/Landing/VideoGrid/Video.tsx
  src/components/Landing/VideoGrid/VideoDescription/VideoDescription1.tsx
  src/components/Landing/VideoGrid/VideoDescription/VideoDescription2.tsx
  src/components/Landing/VideoGrid/VideoGrid.tsx
Due: eslint

lint spaces
  src/components/myPage/MyPage.tsx
Due: eslint

chg nonamed func to lambda
  src/components/myPage/MyPageGraph.tsx
Due: eslint

move dirs of imgs
  public/images/buttons/play-button.png
  public/images/heros/problem.png
  public/images/heros/uploadImg.png
Due: none

Path conditions:
  eslint: any of: *.{ts,tsx}
  prettier --write: any of: *.{html,css,scss}
