Repository eedited/ReactWeb: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

.lintstagedrc:

{
    "*.{ts,tsx}": ["eslint"],
    "*.{html,css,scss}": ["prettier --write"]
}

rename paths (to lowercase letter)
  src/components/Landing/VideoGrid/VideoGrid.tsx
  src/components/Landing/heroSlider/HeroSlider.tsx
  src/components/Video/LargeVideoHeader.tsx
  src/components/Video/MoreByUser.tsx
  src/components/Video/UserMaybeLike.tsx
  src/components/auth/AuthOverlay.tsx
  src/components/auth/FindingId.tsx
  src/components/auth/FindingPw.tsx
  src/components/common/Navbar/Navbar.tsx
  src/components/myPage/MyPage.tsx
  src/components/upload/Upload.tsx
  src/containers/Video/FollowButtonContainer.tsx
  src/containers/Video/LargeVideoContainer.tsx
  src/containers/Video/LargeVideoDescriptionContainer.tsx
  src/containers/Video/LikeButtonContainer.tsx
  src/containers/Video/MoreByUserContainer.tsx
  src/containers/Video/UserMaybeLike.tsx
  src/containers/Video/VideoHeader.tsx
  src/containers/accountSetting/RecieveDiscomfort.tsx
  src/containers/accountSetting/SettingMyPage.tsx
  src/containers/accountSetting/SettingPassword.tsx
  src/containers/common/Footer.tsx
  src/containers/common/NavbarContainer.tsx
  src/containers/filter/DropDownContainer.tsx
  src/containers/filter/FilterContainer.tsx
  src/containers/find/FindContainer.tsx
  src/containers/landing/HeroDescription.tsx
  src/containers/landing/LikeButtonCountContainer.tsx
  src/containers/landing/VideoContainer.tsx
  src/containers/landing/VideoGridContainer.tsx
  src/containers/myPage/MyPageFollowContainer.tsx
  src/containers/upload/UploadDropDown.tsx
  src/pages/HelloPage.tsx
  src/pages/Landing.tsx
  src/pages/NotFound.tsx
  src/pages/SignupSuccess.tsx
  src/pages/VideoPage.tsx
Due: eslint

reallocate service port to 8080
  package.json
Due: none

handle "ran out of mem" issue
  Dockerfile
Due: none

cors url env파일로 뺌.
  src/api/client.ts
Due: eslint

modify file name component/Landing->landing
  src/components/Landing/heroSlider/HeroSlider.scss
  src/components/Landing/heroSlider/HeroSlider.tsx
  src/components/landing/Filter/Filter.scss
  src/components/landing/Filter/Filter.tsx
  src/components/landing/Hero/EventHero.tsx
  src/components/landing/Hero/Hero.scss
  src/components/landing/Hero/Hero.tsx
  src/components/landing/VideoGrid/Buttons/LikeButtonCount.tsx
  src/components/landing/VideoGrid/Buttons/LikebuttonCount.scss
  src/components/landing/VideoGrid/Video.scss
  src/components/landing/VideoGrid/Video.tsx
  src/components/landing/VideoGrid/VideoDescription/VideoDescription1.scss
  src/components/landing/VideoGrid/VideoDescription/VideoDescription1.tsx
  src/components/landing/VideoGrid/VideoDescription/VideoDescription2.scss
  src/components/landing/VideoGrid/VideoDescription/VideoDescription2.tsx
  src/components/landing/VideoGrid/VideoGrid.scss
  src/components/landing/VideoGrid/VideoGrid.tsx
Due: eslint, prettier --write

modify file path
  src/components/landing/videoGrid/Buttons/LikeButtonCount.tsx
  src/components/landing/videoGrid/Buttons/LikebuttonCount.scss
  src/components/landing/videoGrid/VideoDescription/VideoDescription1.scss
  src/components/landing/videoGrid/VideoDescription/VideoDescription1.tsx
  src/components/landing/videoGrid/VideoDescription/VideoDescription2.scss
  src/components/landing/videoGrid/VideoDescription/VideoDescription2.tsx
  src/containers/Video/FollowButtonContainer.tsx
  src/containers/Video/LargeVideoContainer.tsx
  src/containers/Video/LargeVideoDescriptionContainer.tsx
  src/containers/Video/LikeButtonContainer.tsx
  src/containers/Video/MoreByUserContainer.tsx
  src/containers/Video/UserMaybeLike.tsx
  src/containers/Video/VideoHeader.tsx
Due: eslint, prettier --write

에러났을때 video fetch 멈춤
  src/redux/video/video.ts
Due: eslint

open graph 적용.
  package-lock.json
  package.json
  public/index.html
Due: prettier --write

change env condition
  src/api/client.ts
Due: eslint

add ci/cd variable for env file
  .dockerignore
  .gitlab-ci.yml
  Dockerfile
Due: none

.
  .gitlab-ci.yml
Due: none

gitlab ci/cd check
  .gitlab-ci.yml
Due: none

gitlab ci/cd check
  Dockerfile
Due: none

깃랩 ci/cd end
  Dockerfile
Due: none

냅바 반응형 수정
  src/components/common/navbar/Navbar.scss
Due: prettier --write

로그아웃 에러 수정
  src/redux/user/user.ts
  src/redux/user/userSaga.ts
Due: eslint

local storange 제거
  src/containers/auth/LoginForm.tsx
  src/containers/auth/LoginOverlayContainer.tsx
  src/index.tsx
  src/redux/user/user.ts
  src/redux/user/userSaga.ts
Due: eslint

console.log 제거, warning 제거
  src/containers/myPage/MyPageContainer.tsx
  src/containers/video/LikeButtonContainer.tsx
  src/index.tsx
  src/pages/EmailValidate.tsx
  src/pages/FindingPage.tsx
  src/pages/Landing.tsx
Due: eslint

서비스 policy 수정
  src/pages/ServicePolicy.tsx
Due: eslint

change navbar, footer logo img png to svg
  public/index.html
  public/opengraph.svg
  src/components/common/footer/Footer.tsx
  src/components/common/navbar/Navbar.tsx
  src/images/logo.svg
Due: eslint, prettier --write

반응형 수정, opengraph image 수정
  public/opengraph.svg
  src/components/video/LargeVideoHeader.scss
  src/components/video/Largevideo.scss
  src/containers/accountSetting/AccountSetting.scss
  src/containers/find/Find.scss
Due: prettier --write

google login 에러 수정
  src/components/auth/AuthOverlay.tsx
Due: eslint

반응형 디자인 수정
  src/components/landing/videoGrid/VideoGrid.scss
  src/components/myPage/MyPage.scss
  src/index.css
Due: prettier --write

설정시 페이지 리다이렉팅되던것 막음
  src/containers/accountSetting/SettingMyPage.tsx
  src/pages/AccountSettingPage.tsx
Due: eslint

로컬스토리지 부활
  src/@types/auth.d.ts
  src/containers/auth/LoginForm.tsx
  src/containers/auth/LoginOverlayContainer.tsx
  src/index.tsx
  src/redux/user/user.ts
  src/redux/user/userSaga.ts
Due: eslint

remove icon 변경
  public/icons/remove-icon.png
  src/components/upload/Upload.scss
Due: prettier --write

public read 제거
  src/services/upload/index.ts
Due: eslint

navbar notion update
  src/components/common/navbar/Navbar.tsx
Due: eslint

og img, s3 img 추가
  public/index.html
  public/opengraph.png
  public/opengraph.svg
  src/api/auth.ts
  src/services/upload/index.ts
Due: eslint, prettier --write

img border radius추가, password 수정 정책
  src/components/common/navbar/Navbar.scss
  src/containers/accountSetting/AccountSetting.scss
  src/containers/accountSetting/Setting.scss
  src/containers/accountSetting/SettingPassword.tsx
Due: eslint, prettier --write

password 수정 정책 적용
  src/containers/accountSetting/SettingPassword.tsx
Due: eslint

navbar 로그인 링크
  src/components/common/navbar/Navbar.tsx
  src/pages/AccountSettingPage.tsx
Due: eslint

add discord icon in FOOTER
  public/icons/sns/discord-icon.png
  src/components/common/footer/Footer.scss
  src/components/common/footer/Footer.tsx
Due: eslint, prettier --write

modify format
  src/components/landing/videoGrid/buttons/LikebuttonCount.scss
  src/components/landing/videoGrid/videoDescription/VideoDescription1.scss
  src/components/landing/videoGrid/videoDescription/VideoDescription1.tsx
  src/components/video/MoreByUser.tsx
  src/components/video/UserMaybeLike.tsx
Due: eslint, prettier --write

mypage style 추가
  src/components/myPage/MyPage.scss
  src/components/myPage/MyPage.tsx
  src/components/myPage/MyPageGraph.tsx
Due: eslint, prettier --write
